<section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Administración de Empleos</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user-plus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">5</div>
                            <div>Nuevos Usuarios!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalles</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-suitcase fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>Nuevos Empleos!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalles</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">15</div>
                            <div>Nuevas Solicitudes!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalles</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">8</div>
                            <div style="font-size:13px;">Estudiantes Contactados!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title text-center" style="font-size:24px; color:white;">Administración de Empleos</h1>
        </div>

        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dtEmployees">
                <span class="pull-right">
                    <i class="fa fa-print fa-3x btn"></i>
                </span>
                <thead>
                    <tr>
                        <th style="text-align: center;">ID Empleo</th>
                        <th style="text-align: center;">Titulo</th>
                        <th style="text-align: center;">Area Estudio</th>
                        <th style="text-align: center;">ID Empresa</th>
                        <th style="text-align: center;">Nombre Empresa</th>
                        <th style="text-align: center;">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employeesList | orderBy: 'id_empleo'">
                        <td>{{employee.id_empleo}}</td>
                        <td>{{employee.titulo}}</td>
                        <td>{{employee.area_estudio}}</td>
                        <td>{{employee.id_empleador}}</td>
                        <td>Software Logistics SRL</td>
                        <td style="text-align: center;"><a href="#"><img alt="Editar" src="../../images/edit.png" width="30px" /></a> | <a href="#"><img alt="Eliminar" src="../../images/eliminar.png" width="30px" /></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>