<section>
	
	<h1 ng-hide="isJobSelected">Hola {{userData.nombre}}, <small>encuentra los empleos segun tu área preferida.</small></h1>
    <a ng-show='isJobSelected' ng-click="setSelected(null)" class="pull-left btn btn-primary btn-outline btn-rounded"><span class="glyphicon glyphicon-chevron-left"></span> Volver Atras</a>
	<div class="jumbotron">
		<div class="container" ng-hide="isJobSelected">
            <span><strong>Buscar:</strong></span> <input type="text" class="form-control" />
			<span><strong>Buscar por area de estudio:</strong></span> 
			<select name="categorias" ng-model="searchText">
				<option value="#"></option>
				<option value="volvo">Desarrollo de Software</option>
				<option value="saab">Administracion Base de datos</option>
				<option value="fiat">Redes y Comunicaciones</option>
                <option value="audi">Soporte Tecnico</option>
				<option value="audi">General</option>
		  </select>
            
            <div class="panel-group">
                <div class="panel panel-default" style="margin-top: 5%;" ng-repeat="job in jobsList  | filter: searchText | orderBy: 'id_area_estudio'" ng-click="setSelected(job)">
                    <div class="panel-heading"><a class="btn-block" href="" style="text-decoration:none; color:white; font-size:24px; text-align: center;"><strong>{{job.titulo | uppercase}} </strong></a></div>
                    <div class="panel-body"><a class="btn-block" href="#" style="text-decoration:none; color:#555; font-size:14px">{{job.detalle | limitTo: 250}}... Leer Más.</a></div>
                    <div class="panel-footer" style=""><a class="btn-block" style="text-decoration:none; font-size:18px;" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"> </span><strong> {{getAreaName(job.id_area_estudio)}} <span class="pull-right"> {{job.fecha_creacion}}</span></strong></a></div>
                </div>
            </div>            
		</div>
        
        <div class="container" ng-show="isJobSelected">
            <section class="col-lg-10 col-md-8 col-lg-offset-1   col-md-offset-2">
            <section ng-model="jobsList">
                <h2 class="text-center" style="margin:0; clear:both;">{{selectedJob.title}}</h2>
                <h2 class="text-center" style="margin:0;"><small>{{selectedJob.employer}}</small></h2>
                <h3 class="text-center" style="margin:0;"><small><strong>{{selectedJob.studyArea}}</strong></small></h3>
                <h3 class="text-center" style="margin:0;"><small><strong>{{selectedJob.creationDate | date: longDate}}</strong></small></h3>
                
                <hr>                
                
                <h3>Descripción</h3>
                <p  style="border-radius:10px; background-color: rgba(92, 184, 92,0.1); font-size: 18px; text-align:justify; padding:2.5%;">{{selectedJob.detail}}</p>
                <br/>
                <hr>
                
                <h3>Requerimientos</h3>
                <ul style="border-radius:10px; background-color: rgba(92, 184, 92,0.1); font-size: 18px; text-align:justify;  margin:2.5px;">
                    <li>Req 1</li>
                    <li>Req 2</li>
                    <li>Req 3</li>
                    <li>Req 4</li>
                </ul>
                <br/>
                <hr>
            </section>
                
                
               <h3>Condiciones</h3>
                <article class="" style="border-radius:10px; background-color: rgba(92, 184, 92,0.1);">
                    <p style="font-size: 18px;"><strong>Salario:</strong> {{selectedJob.salary | currency:'RD$':2}}</p>
                    <p style="font-size: 18px;"><strong>Tipo:</strong> {{selectedJob.type}}</p>
                    <p style="font-size: 18px;"><strong>Horario:</strong> {{selectedJob.schedule}}</p>
                </article>
                
                
                <form role="form" style="text-align:center;" ng-show="student">
                    <button type="submit" class="btn btn-primary btn-outline btn-lg btn-rounded" data-toggle="modal" data-target="#modalCenter" style="font-size:20px;"><strong>Aplicar</strong></button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalAplicarEmpleo" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">UNPHU JOBS</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" style="font-size: 18px;">
                            <p style="text-align:center">Gracias por aplicar a este empleo! Sus datos han sido enviados al empleador para su revisión.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                </section>
            <!-- <div class="center" ng-model="jobsList">{{jobsList[idSelectedJob].titulo}}</div> -->
		</div>
	</div>
</section>