
<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 sidebar navbar navbar-default">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
<div class="collapse navbar-collapse" id="myNavbar">
       <div class="text-center">
        <h2 class="brand">UNPHU <small>JOBS</small></h2>
        <a href="" ui-sref="editProfile"><img src="images/flat-avatar.png" width="120px" height="120px" class="user-avatar" /><br /></a>
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Cerrar Sesión</a>
      </div>
          
              
      <ul class="nav nav-sidebar" ng-model='student' ng-show='student'>
          <li ng-class="{active: $state.includes('studentHome')}"><a ui-sref="studentHome">Inicio<span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: $state.includes('editProfile')}"><a ui-sref="editProfile">Editar Perfil</a></li>
      </ul>

      <ul class="nav nav-sidebar" ng-model='employer' ng-show='employer'>
          <li ng-class="{active: $state.includes('employerHome')}"><a ui-sref="employerHome">Inicio<span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: $state.includes('editProfile')}"><a ui-sref="editProfile">Editar Perfil</a></li>
          <li ng-class="{active: $state.includes('studentSearch')}"><a href="" ui-sref="studentSearch">Buscar Estudiantes</a></li>
      </ul>

      <ul class="nav nav-sidebar" ng-model='admin' ng-show='admin'>          
          <li ng-class="{active: $state.includes('adminHome')}"><a ui-sref="adminHome">Inicio<span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Gestionar Usuarios</a></li>
          <li ng-class="{active: $state.includes('')}"><a href="" ui-sref="overview">Gestionar Empleos</a></li>
          <li ng-class="{active: $state.includes('')}"><a href="" ui-sref="reports">Opcion</a></li>          
      </ul>
              </div>
    </nav>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>